<div id = "new-question-creator">
  <form id="new-question-form" method="post" action="/surveys/<%=survey_id%>/questions">

    <label for="question[text]">Question</label>
    <input type="text" name="question[text]" placeholder="<%= question.errors.full_messages.first %>">

    <div id="choice-list">
      <li class="choice"><label for="choice[text1]">Choice 1</label><input type="text" name="choice[text1]"></li>

      <li class="choice"><label for="choice[text2]">Choice 2</label><input type="text" name="choice[text2]"></li>
    </div>

    <form id = "add-a-choice" method="post" action="/choices/new">
      <input id="add-choice" type="submit" value="Add More Choices">
    </form>

    <input id="survey_id" type="hidden" name="question[survey_id]" value="<%=survey_id%>">
    <input id= "question-submission" type="submit" value="Create">
  </form>

</div>