<form id="new-question-form" method="post" action="/surveys/<%=survey_id%>/questions">

  <label for="question[text]">Question</label>
  <input type="text" name="question[text]" placeholder="<%= @question.errors.full_messages.first %>">
  <div id="choices">
    <li class="choice"><label for="choice[1]">Choice</label>
    <input type="text" name="choice[1]"></li>

    <li class="choice"><label for="choice[2]">Choice</label>
    <input type="text" name="choice[2]"></li>
  </div>

  <button class="add_field_button">Add More Choices</button>

  <label for="done">Done?</label>
  <input type="checkbox" name="done" value="true">

  <input type="submit" value="Create">
</form>





