<form id="new-choices-form" method="post" action="/questions/<%=@question.id%>/choices
  ">

  <label for="choice[text1]">Choice 1</label>
  <input type="text" name="choice[text1]">

  <label for="choice[text2]">Choice 2</label>
  <input type="text" name="choice[text2]">

  <label for="choice[text3]">Choice 3</label>
  <input type="text" name="choice[text3]">

  <label for="choice[text4]">Choice 4</label>
  <input type="text" name="choice[text4]">

  <label for="choice[text5]">Choice 5</label>
  <input type="text" name="choice[text5]">

  <label for="done">Done?</lavel>
  <input type="checkbox" name="done" value="true">

  <input type="submit" value="Create">
</form>

