<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

<div class="panel panel-success">
  <div class="panel-heading">
    <h6 class="panel-title">Thank you <%= @user.display_name.split.first %></h6>
  </div>

  <div class="panel-body">
    Your responses are much appreciated. Don't forget to try building your own surveys!
  </div>
</div>

      </div>
    </div>
  <%= erb :'partials/_footer' %>
</div>